//! **************************************************************************
// Written by: Map P.20131013 on Tue May 14 11:31:16 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Switch" LOCATE = SITE "N3" LEVEL 1;
COMP "Motor1a" LOCATE = SITE "M5" LEVEL 1;
COMP "Motor1b" LOCATE = SITE "M11" LEVEL 1;
COMP "Clock" LOCATE = SITE "B8" LEVEL 1;
COMP "Motor2a" LOCATE = SITE "P7" LEVEL 1;
COMP "Motor2b" LOCATE = SITE "P6" LEVEL 1;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

